# Terraform local files
*.tfstate
*.tfstate.backup
*.tfstate.*
crash.log
.terraform/
.terraform.tfstate
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
plan.tfplan
.plan.tfplan

# Ignore IDE/OS files
.DS_Store
.vscode/
